body {
    /* font-family: 'Roboto', sans-serif; */
   
    margin: 25%; 
    margin-top: 3%;
    position: absolute;
    width: 1283px;
    height: 1307px;
    background: #FCFCFC;
  }
  


.column {
  float: left;
  width: 25%;
  padding-bottom: 1%;
}
