img{
    position: absolute;
    width: 387px;
    height: 140px;
    background: url("https://s3-alpha-sig.figma.com/img/1342/f7e3/935b36cd2fcb05623da9fe3ce4016843?Expires=1668988800&Signature=bTS3LxRFauctZgEXJOTmxa6zoDoD2AfDfWsH37m6A~7sP-arqiz4Zf3gbhrBJKbowtHb3SbvwRNplz14IGp0DxEJA9663pcX6hrDDj9lbKGB2ezg81sAEN8EUQ0dLT4C5XATanI8Vzy0gWwAe8SQ9CbADhKBu8DcyWmi06tovQQbZu5Hq1fh2lhvRthBbYnYcgIEaiXV5o06AVEmliPcXoqzq31D0iBYekhEjliDv-isvpBk0tbxb5kflPi-5XIpc8BLg9RKf0KbzJKnvCq-D014e7S5ycg2RoYP6EvnObN5pO9OaOfyBL2Fquj~CIG6FWJoWZvYMHce54SyEXg13w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA");
}